.main-dual {
  padding: 0 20px;

  &__side--img {
    width: calc(33.333vw - 20px);
    height: 40vh;
    margin: 10px 20px 10px 0;
    float: left;
    object-fit: cover;
  }

  &__side--title {
    margin: 60px 0 0;
  }
}

.clear {
  clear: both;
}

@media (min-width: $bp-mobile) {
  .main-dual {
    display: grid;
    grid-template-columns: calc(33.333vw - 20px) calc(66.666vw - 40px);
    align-items: start;
    gap: 0 20px;

    &__side--img {
      width: 100%;
      height: auto;
      float: none;
      object-fit: fill;
    }
  }
}

@media (min-width: $bp-medium) {
  .main-dual {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 20px;

    &__side--img {
      max-width: 100%;
    }
  }
}

@media (min-width: $bp-hd) {
  .main-dual {
    grid-template-columns: 1fr 720px;
    padding: 0;
  }
}
