.main-dual {
  padding: 0 20px;

  &__side--img {
    width: calc(33.333vw - 20px);
    height: 40vh;
    margin: 0 20px 40px 0;
    float: left;
    object-fit: cover;
  }
}

.clear {
  clear: both;
}

@media (min-width: $bp-mobile) {
  .main-dual {
    display: grid;
    grid-template-columns: calc(33.333vw - 20px) calc(66.666vw - 40px);
    align-items: start;
    gap: 0 20px;

    &__side--img {
      width: 100%;
      height: auto;
      // margin: 0 20px 40px 0;
      float: none;
      object-fit: fill;
    }

    &__side--text {
      // background: yellowgreen;
      // max-width: 100%;
    }
  }
}

@media (min-width: $bp-medium) {
  .main-dual {
    display: grid;
    // grid-template-columns: 33.333% 66.666%;
    grid-template-columns: 1fr 1fr;
    // grid-template-columns: 1fr 720px;
    gap: 0 20px;
    // padding: 0 20px;

    &__side--img {
      max-width: 100%;
      // width: calc((100vw - 40px) / 2);
    }
  }
}

@media (min-width: $bp-hd) {
  .main-dual {
    // display: grid;
    // grid-template-columns: 33.333% 66.666%;
    // grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 720px;
    // gap: 0 20px;
    // padding: 0 20px;

    // &__side-img {
    // max-width: 100%;
    // width: calc((100vw - 40px) / 2);
    // }
  }
}
