.dialog {
  box-sizing: border-box;
  width: calc(100% - 40px);
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px 20px;
  background: var(--yellow);
  text-align: center;
  display: none;

  &.visible {
    display: block;
  }

  &.problem {
    text-align: left;
    background: var(--red);
    color: var(--white);
    font-weight: bold;
    font-size: var(--font-small);
  }
}

.form {
  padding: 20px;

  &__side {
    padding: 0 0 40px;

    &:first-child {
      border-bottom: 1px solid var(--gray-d1);
      // background: orange;
    }

    &:nth-child(2) {
      padding: 0 0 20px;
      // background: red;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;

    & > li:last-child {
      // width: 0;
      // height: 0;
      // overflow: hidden;
    }
  }

  &__field {
    display: flex;

    &--label {
      flex-grow: 2;
    }

    &--input {
      flex-basis: 30%;
      border-radius: 10px;
      border: 1px solid var(--gray-d3);
    }
  }

  &__textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0 0;
    padding: 10px;
    border: 1px solid var(--gray-d3);

    &.error {
      border: 2px solid var(--red);
    }
  }

  &__send {
    display: flex;
    justify-content: center;
    grid-row-start: 1;
    grid-row-end: 3;

    &--submit {
      width: 100%;
      padding: 20px 40px;
      text-transform: uppercase;
      text-align: center;
      border: none;
      // border: 0 solid transparent;
      border-bottom: 5px solid var(--yellow-d3);
      border-radius: 10px;
      background: var(--yellow);
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
      transition: transform 0.1s;

      // &:active,
      // &:focus {
      //   border: none;
      //   border: 0 solid transparent;
      // }
    }
  }
}

@media (min-width: $bp-mobile) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "left right"
      "action action";
    gap: 20px;
    // background: orange;
    &__side,
    &__side:nth-child(2) {
      padding: 20px;
      border-radius: 10px;
      border: 1px solid var(--gray-d1);
    }

    &__field {
      display: flex;
      &--label {
        flex-grow: 2;
      }

      &--input {
        flex-basis: 50%;
        padding: 10px;

        &.error {
          border: 2px solid var(--red);
        }
      }
    }

    &__send {
      grid-area: action;

      &--submit {
        width: auto;
        padding: 20px 80px;
        cursor: pointer;

        &:hover {
          // color: rgba(0, 0, 0, 0.7);
          transform: translateY(2px);
          border-bottom: 3px solid var(--yellow-d3);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
          margin-bottom: 2px;
          text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
        }
        &:active {
          color: rgba(255, 255, 255, 1);
          background: rgba(255, 157, 2, 1);
          transform: translateY(5px);
          border-bottom: 0;
          box-shadow: 0 0px 20px rgba(255, 157, 2, 1);
          margin-bottom: 5px;
        }
      }
    }
  }
}

@media (min-width: $bp-medium) {
  .form {
    &__side {
    }

    &__field {
      &--label {
      }

      &--input {
      }
    }

    &__send {
      &--submit {
      }
    }
  }
}
