@keyframes ul-appears {
  0% {
    display: block;
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes li-appears {
  0% {
    opacity: 0;
    transform: translateX(100vw);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes reveal-logo {
  0% {
    opacity: 0;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  75% {
    opacity: 1;
    clip-path: polygon(0 0, calc(100% - 20px) 0, calc(100% - 0px) 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, calc(100% - 10px) 100%, 0 100%);
  }
}

.head {
  position: fixed;
  top: 0;
  z-index: 5;
  background: rgba(255, 255, 255, 0.95);
  width: calc(100vw);
  box-sizing: border-box;
  height: var(--header-h);
  padding: calc(var(--gutter) * 2) calc(var(--gutter) * 2) var(--gutter);
  border-bottom: 10px solid var(--yellow);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    display: flex;

    &--img {
      filter: brightness(0);
      height: 36px;
      width: 101px;
    }
  }
}

.nav {
  position: fixed;
  top: 80px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 50px;
  width: 100vw;
  height: calc(100vh - 80px);
  background: var(--yellow);
  opacity: 0;
  transform: translateX(100vw);
  transition: transform 0.35s, opacity 0.4s;

  &.visible {
    transform: translateX(0);
    opacity: 1;
  }

  .ul {
    list-style-type: none;
    padding: 0;
  }

  .li {
    min-height: 40px;

    & > .submenu {
      max-height: 0;
      overflow: hidden;
      transition: all 0.25s;

      &.visible {
        max-height: 100vh;
        transform: translateX(20px);
      }
    }
  }

  .link {
    display: block;
    color: var(--black);
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    &::before {
      content: "▪ \00a0";
    }

    &:active {
      -webkit-tap-highlight-color: transparent;
    }
  }

  .nav_social {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid var(--yellow-d3);

    .icon {
      &::before {
        font-size: 20vw;
      }
    }
  }
}

@media (min-width: $bp-mobile) {
  .head {
    &__logo {
      &--img {
        width: 118px;
        height: 42px;
      }
    }
  }
}

@media (min-width: $bp-medium) {
  .head {
    width: var(--body-max-width);
    padding: 0;
    background: var(--yellow);
    border-bottom: 5px solid var(--yellow-d3);

    &__logo {
      flex-basis: 25%;
      align-items: center;
      height: 100%;
      background: var(--black);
      padding: 0 0 0 40px;
      // clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      // animation: reveal-logo 1s 1 cubic-bezier(0.89, 0.47, 0.58, 0.96) forwards;
      clip-path: polygon(0 0, 100% 0, calc(100% - 10px) 100%, 0 100%);

      &--img {
        filter: none;
        width: 147px;
        height: 52px;
      }
    }
  }

  .icon.head__menu__icon {
    display: none;
  }

  .nav {
    position: static;
    opacity: 1;
    transform: none;
    flex-direction: row;
    height: 100%;
    flex-basis: 66.666%;

    & > .ul {
      height: 100%;
      margin: 0;
    }

    .ul:not(.submenu) {
      display: flex;
      gap: 40px;

      .li {
        &:hover > .link {
          border-bottom: 2px solid var(--black);
          text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
        }

        & > .link.active {
          border-bottom: 6px solid var(--black);
        }

        .ul {
          &.submenu {
            max-height: none;
            overflow: visible;
            position: absolute;
            pointer-events: none;
            opacity: 0;
            transform: translate(-20px, 0);

            .li {
              display: flex;
              height: 50px;
              padding: 0 20px;
              background: var(--yellow);
              box-shadow: 20px 3px 1px rgba(0, 0, 0, 0.25);
              opacity: 0;

              &:hover {
                background: var(--black);

                .link {
                  color: var(--white);
                }
              }
            }
          }
        }

        &:hover {
          .ul.submenu {
            pointer-events: all;
            animation: ul-appears 0.25s 0.25s 1 forwards;

            & > .li {
              transform: translateX(100vw);
            }
            & > .li:nth-child(1) {
              animation: li-appears 0.25s 1 0.1s forwards;
            }
            & > .li:nth-child(2) {
              animation: li-appears 0.25s 1 0.2s forwards;
            }
            & > .li:nth-child(3) {
              animation: li-appears 0.25s 1 0.3s forwards;
            }
            & > .li:nth-child(4) {
              animation: li-appears 0.25s 1 0.4s forwards;
            }
            & > .li:nth-child(5) {
              animation: li-appears 0.25s 1 0.5s forwards;
            }
            & > .li:nth-child(6) {
              animation: li-appears 0.25s 1 0.6s forwards;
            }
            & > .li:nth-child(7) {
              animation: li-appears 0.25s 1 0.7s forwards;
            }
            & > .li:nth-child(8) {
              animation: li-appears 0.25s 1 0.8s forwards;
            }
          }
        }
      }
    }

    .link {
      &::before {
        content: none;
      }
    }

    .nav_social {
      align-items: center;
      padding: 0;
      border-top: none;

      .icon {
        margin: 0 10px;
        transition: transform 0.25s;

        &::before {
          font-size: 28px;
        }

        &:hover {
          transform: scale(1.25);
        }
      }
    }
  }
}

@media (min-width: $bp-hd) {
  .head {
    &__logo {
      flex-basis: 33.333%;

      &--img {
        height: 70%;
      }
    }
  }
}

@media (min-width: $bp-fhd) {
}
