.intro {
  background: var(--yellow);
  margin: 0 0 40px;

  &__text {
    padding: 20px;
  }
}

.section {
  margin: 0 0 40px;
  padding: 0 20px;

  &__title.h2 {
    padding: 40px 0 0 0;
  }
}

.services {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.service {
  &--title {
    padding: 5px 20px;
    background: var(--yellow);
    border-bottom: 5px solid var(--yellow-d3);
    font-weight: normal;
  }

  &--link {
    font-weight: bold;
    text-decoration: underline;
  }
}

.references {
  &__container {
    width: 100%;
    display: inline-flex;
    overflow: hidden;
    overflow-x: auto;
    gap: 20px;
    margin: 20px 0;
  }

  &__ref {
    width: calc(30%);
    max-height: 7vh;
    object-fit: contain;
    margin: 0 0 20px;
    display: inline-block;
    vertical-align: middle;
  }
}

@media (min-width: $bp-mobile) {
  .section {
    &__title.h2 {
      padding: 40px 0 10px;
      grid-column-start: 1;
      grid-column-end: 3;
      text-align: center;
      border-bottom: 1px solid var(--black);
    }
  }

  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0 0 0;

    &__title {
      grid-column-start: 1;
      grid-column-end: 3;
      text-align: center;
      border-bottom: 1px solid var(--black);
    }
  }

  .service {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;

    &--title {
      margin: 0;
    }

    &--p {
      flex-grow: 2;
    }
  }

  .references {
    &__title {
      padding: 0 0 10px;
      text-align: center;
      border-bottom: 1px solid var(--black);
    }
  }
}

@media (min-width: $bp-medium) {
  .intro {
    display: flex;
    align-items: center;
    margin: 0 0 60px;
    padding: 0;
    height: 350px;
    overflow: hidden;
    box-sizing: border-box;
    border-right: 200px solid #000;

    &__text {
      padding: 0 20px;
    }
  }

  .section {
    &__title.h2 {
      grid-column-end: 4;
    }
  }

  .services {
    grid-template-columns: 1fr 1fr 1fr;

    &__title {
      grid-column-end: 4;
    }
  }

  .service {
    padding: 20px;
  }

  .references {
    &__container {
      display: block;
      text-align: center;
    }

    &__ref {
      width: auto;
      max-width: 150px;
      max-height: 60px;
      margin: 20px;
    }

    &__p {
      text-align: center;
    }
  }
}

@media (min-width: $bp-hd) {
  .references {
    &__ref {
      max-width: 180px;
      max-height: 80px;
    }
  }
}

// @media (min-width: $bp-fhd) {
//   .head {
//     width: var(--body-max-width);
//   }
// }
