//==============
//  BREAKPOINTS
//==============
$bp-mobile: 600px;
$bp-medium: 960px;
$bp-hd: 1280px;
$bp-fhd: 1920px;

:root {
  //==============
  //  BREAKPOINTS
  //==============
  --bp-mobile: 600px;
  --bp-medium: 960px;
  --bp-hd: 1280px;
  --bp-fhd: 1920px;
  //==============
  //  COLORS
  //==============
  --yellow: rgba(255, 207, 2, 1);
  --yellow-l3: rgba(255, 236, 154, 1);
  --yellow-d3: rgba(180, 146, 1, 1);
  --yellow-d6: rgba(51, 41, 0, 1);
  --purple: rgb(58, 1, 92);
  --blue: rgb(51, 92, 103);
  --red: rgb(165, 1, 4);
  --black: rgba(25, 20, 0, 1);
  --white: rgb(255, 255, 255);
  --gray: rgba(214, 214, 214, 1);
  --gray-d0: rgba(243, 243, 243, 1);
  --gray-d1: rgba(193, 193, 193, 1);
  --gray-d2: rgba(171, 171, 171, 1);
  --gray-d3: rgba(151, 151, 151, 1);
  --typo-black: rgba(0, 0, 0, 0.75);
  //==============
  //  FONTS
  //==============
  --font-root: 18px;
  --font-large: 25px;
  --font-small: 12px;
  //==============
  //  MEASURES
  //==============
  --gutter: 10px;
  --body-max-width: 100%;
  --header-h: 80px;
}

.tera {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 40vw;
  height: 70vh;
  padding: 20px;
  overflow-y: scroll;
  color: yellowgreen;
  background: black;
  font-size: 13px;
  font-family: monospace;
  font-weight: bold;

  &.hidden {
    display: none;
  }
}

@media (min-width: $bp-mobile) {
  :root {
    --gutter: 20px;
  }
}

@media (min-width: $bp-medium) {
  :root {
    --body-max-width: 100%;
  }
}

@media (min-width: $bp-hd) {
  :root {
    --body-max-width: 1280px;
  }
}

@media (min-width: $bp-fhd) {
  :root {
    --body-max-width: 1440px;
  }
}
