@import "vars";
@import "head";
@import "home";
@import "contact";
@import "about";
@import "animation";
@import "lightbox";

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "icons";
  src: url("../fonts/gil-icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
  font-family: "Ubuntu", "Sans-Serif";
  font-size: var(--font-root);
  line-height: 1.5;
  color: var(--typo-black);
}

.icon {
  display: inline-block;
  color: var(--black);
  text-decoration: none;

  &::before {
    font-family: "icons";
    font-style: normal;
    font-size: 32px;
  }

  &.instagram::before {
    content: "2";
  }
  &.linkedin::before {
    content: "3";
  }
  &.github::before {
    content: "G";
  }
  &.menu::before {
    content: "m";
  }
}

li:not(.li) {
  margin: 10px 0;
}

.no-scroll {
  overflow-y: hidden;
}

.body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  line-height: 1.25;
}

h1 {
  margin: 80px 0 0;
  padding: 60px 20px;
}

h2,
h3 {
  margin: 0;
}

a {
  color: inherit;
}

p {
  margin: 10px 0;

  &.centered {
    text-align: center;
  }

  a {
    color: var(--red);
    text-decoration: underline;
  }
}

.footer {
  margin: 40px 0 0;
  padding: var(--gutter);
  color: var(--white);
  background: var(--black);
  text-align: center;
  font-size: var(--font-small);

  .icon {
    &::before {
      font-size: var(--font-root);
    }
    margin: 0 5px;
  }

  .a {
    text-decoration: underline;
  }
}

@media (min-width: $bp-mobile) {
}

@media (min-width: $bp-medium) {
  h1 {
    text-align: center;
  }

  .body {
    padding: 0 calc((100vw - var(--body-max-width)) / 2);
  }
}

@media (min-width: $bp-hd) {
}
