@import "vars";
@import "head";
@import "home";
@import "contact";
@import "animation";

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "icons";
  src: url("../fonts/gil-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
  font-family: "Ubuntu", "Sans-Serif";
  font-size: var(--font-root);
  line-height: 1.5;
  color: var(--typo-black);
}

.icon {
  display: inline-block;
  color: var(--black);

  &::before {
    font-family: "icons";
    font-style: normal;
    font-size: 32px;
  }

  &.instagram::before {
    content: "2";
  }
  &.linkedin::before {
    content: "3";
  }
  &.menu::before {
    content: "m";
  }
}

.no-scroll {
  overflow-y: hidden;
}

.body {
  margin: 0;
  padding: 0;
}

.h1,
.h2,
.h3 {
  line-height: 1.25;
}

.h2,
.h3 {
  margin: 40px 0 20px;
}

p {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.h1 {
  margin: 80px 0 0;
  padding: 60px 20px;
}

.section {
  margin: 0 0 40px;
  padding: 0 20px;
}

.footer {
  //   margin: 50px -10px -20px;
  padding: var(--gutter);
  color: var(--white);
  background: var(--black);
  text-align: center;
  font-size: var(--font-small);
  .p {
    line-height: 1;

    .a {
      text-decoration: underline;
    }
  }
}

@media (min-width: $bp-mobile) {
}

@media (min-width: $bp-medium) {
  .section {
    padding: 20px 0;
  }
}

@media (min-width: $bp-hd) {
  .body {
    padding: 0 calc((100vw - var(--body-max-width)) / 2);
  }
}
