$bp-mobile: 600px;
$bp-medium: 960px;
$bp-hd: 1280px;

.main-dual {
  padding: 0 20px;

  &__side--img {
    width: calc(33.333vw - 20px);
    height: 40vh;
    margin: 10px 20px 10px 0;
    float: left;
    object-fit: cover;
  }

  &__side--title,
  h2 {
    margin: 0 0 20px;
  }

  &__side--title,
  h2:not(:first-child) {
    margin: 60px 0 20px;
  }
}

.clear {
  clear: both;
}

@media (min-width: $bp-mobile) {
  .main-dual {
    display: grid;
    grid-template-columns: calc(33.333vw - 20px) calc(66.666vw - 40px);
    align-items: start;
    gap: 0 20px;

    &__side--img {
      width: 100%;
      height: auto;
      float: none;
      object-fit: fill;
    }
  }
}

@media (min-width: $bp-medium) {
  .main-dual {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 20px;

    &--narrow {
      @extend .main-dual;
      grid-template-columns: 30% 50%;
      justify-content: center;
    }

    &--twins {
      @extend .main-dual;
      grid-template-columns: 40% 40%;
      gap: 0 40px;
      justify-content: center;
    }

    &--reverse {
      @extend .main-dual;
      grid-template-columns: 50% 30%;
      gap: 0 40px;
      justify-content: center;
    }

    &--solo {
      @extend .main-dual;
      grid-template-columns: 720px;
      justify-content: center;
    }

    &__side--img {
      max-width: 100%;
    }

    &__left {
      padding: 0 40px 0 0;
      border-right: 1px solid var(--gray-d3);
    }

    // &__left,
    // &__right {
    //   background: yellow;
    // }
  }
}

@media (min-width: $bp-hd) {
  .main-dual {
    grid-template-columns: 1fr 720px;
    padding: 0;

    &--narrow {
      // @extend .main-dual;
      grid-template-columns: 25% 45%;
      justify-content: center;
    }

    &--twins {
      // @extend .main-dual;
      grid-template-columns: 40% 40%;
      gap: 0 40px;
      justify-content: center;
    }

    &--reverse {
      // @extend .main-dual;
      grid-template-columns: 720px 25%;
      gap: 0 40px;
      justify-content: center;
    }

    &--solo {
      grid-template-columns: 720px;
      justify-content: center;
    }
  }
}
