<div id="gallery">
  {% for asset in page.assets -%} {%- if asset is matching("[.](jpg|png|webp)$")
  -%} {% set image = resize_image(path=asset, width=120, height=120) %}
  <a href="{{ get_url(path=asset) }}" target="_blank">
    <img src="{{ image.url }}" />
  </a>
  {%- endif %} {%- endfor %}
</div>
<!-- 
<div id="gallery">

  <a class="cat-a" href="img/image_A.jpg" >
      <img src="img/image_A.jpg" title="La magnifique image A" alt="C'est juste l'image A. Je vois pas quoi en dire de plus...">
  </a>

  <a class="cat-b" href="img/image_B.jpg" >
      <img src="img/image_B.jpg" title="La magnifique image B" alt="C'est juste l'image B. Je vois pas quoi en dire de plus...">
  </a>

  <a class="cat-c" href="img/image_C.jpg" >
      <img src="img/image_C.jpg" title="La magnifique image C" alt="C'est juste l'image C. Je vois pas quoi en dire de plus...">
  </a>

  <a class="cat-a" href="img/image_D.jpg" >
      <img src="img/image_D.jpg" title="La magnifique image D" alt="C'est juste l'image D. Je vois pas quoi en dire de plus...">
  </a>

  <a class="cat-b" href="img/image_E.jpg" >
      <img src="img/image_E.jpg" title="La magnifique image E" alt="C'est juste l'image E. Je vois pas quoi en dire de plus...">
  </a>

  <a class="cat-c" href="img/image_F.jpg" >
      <img src="img/image_F.jpg" title="La magnifique image F" alt="C'est juste l'image F. Je vois pas quoi en dire de plus...">
  </a>

  <a class="cat-a" href="img/image_G.jpg" >
      <img src="img/image_G.jpg" title="La magnifique image G" alt="C'est juste l'image G. Je vois pas quoi en dire de plus...">
  </a>

  <a class="cat-b" href="img/image_H.jpg" >
      <img src="img/image_H.jpg" title="La magnifique image H" alt="C'est juste l'image H. Je vois pas quoi en dire de plus...">
  </a>

  <a class="cat-c" href="img/image_I.jpg" >
      <img src="img/image_I.jpg" title="La magnifique image I" alt="C'est juste l'image I. Je vois pas quoi en dire de plus...">
  </a>

  <a class="cat-a" href="img/image_J.jpg" >
      <img src="img/image_J.jpg" title="La magnifique image J" alt="C'est juste l'image J. Je vois pas quoi en dire de plus...">
  </a>

</div> -->
