{% extends "base.html" %} {% block content %}

<h1>{{section.title|safe}}</h1>

<section class="intro">
  <div class="intro__text">
    <h2>Bonjour et bienvenue sur mon site.</h2>
    <p>
      Vous êtes à la recherche d'un <strong>webmaster freelance</strong>, sur
      <strong>Paris</strong>, polyvalent, avec des compétences de
      <strong>graphiste</strong>&nbsp;?<br />
      Quelqu'un de passionné, sérieux, motivé et efficace&nbsp;?… Je suis votre
      homme&nbsp;!
    </p>
    <p>
      Fort de huit ans d'expérience en tant que travailleur indépendant sur
      <strong>Paris</strong>, au contact d'agences web, d'entreprises,
      d'association mais aussi de créateurs d'activité, je suis à même de
      répondre à toute problématique web seul ou avec une petite équipe.
    </p>
    <p class="intro__signature">Gino Ladowitch</p>
  </div>
  <div class="intro__animation">{% include "parts/animation.html" %}</div>
</section>

<section class="section services">
  <h2 class="section__title h2">Mes services</h2>

  <article class="service">
    <h3 class="service--title h3">Développeur d'applications</h3>
    <p class="service--p">
      Je peux vous créer de petits programmes sur-mesure&nbsp;: utilitaires, web
      scraping, automatisation de tâches.
    </p>
    <a
      class="service--link"
      href="{{ get_url(path='@/services/applications.md', lang=lang) }}"
      >Créons quelque chose de neuf</a
    >
  </article>

  <article class="service">
    <h3 class="service--title h3">Expert CSS</h3>
    <p class="service--p">
      Transformer une maquette de site web en code est un art que je maîtrise.
    </p>
    <a
      class="service--link"
      href="{{ get_url(path='@/services/css.md', lang=lang) }}"
      >En savoir plus sur l'intégration</a
    >
  </article>

  <article class="service">
    <h3 class="service--title h3">Illustrateur</h3>
    <p class="service--p">
      Je peux me vanter d'avoir un bon coup de crayon&nbsp;! Que ce soit de
      l'illustration traditionnelle, humoristique ou technique, j'aime et je
      sais faire.
    </p>
    <a
      class="service--link"
      href="{{ get_url(path='@/services/illustration.md', lang=lang) }}"
      >Découvrir mon univers graphique</a
    >
  </article>

  <article class="service">
    <h3 class="service--title h3">UX/UI</h3>
    <p class="service--p">
      Créer la meilleure expérience utilisateur pour vos clients, c'est aussi
      mon métier.
    </p>
    <a
      class="service--link"
      href="{{ get_url(path='@/services/ux.md', lang=lang) }}"
      >Parlons webdesign</a
    >
  </article>

  <article class="service">
    <h3 class="service--title h3">Scraping de données</h3>
    <p class="service--p">
      Des données à récupérer, une veille automatisée à mettre en place&nbsp;?
      C'est dans mes cordes.
    </p>
    <a
      class="service--link"
      href="{{ get_url(path='@/services/scraping.md', lang=lang) }}"
      >Allons dévorer le web&nbsp;!</a
    >
  </article>

  <article class="service">
    <h3 class="service--title h3">Webmaster</h3>
    <p class="service--p">
      Je peux vous aider et prendre en charge votre site&nbsp;: mettre en ligne
      les contenus, l'améliorer, soigner son référencement.
    </p>
    <a
      class="service--link"
      href="{{ get_url(path='@/services/webmaster.md', lang=lang) }}"
      >J'ai besoin d'un webmaster&nbsp;!</a
    >
  </article>

  <article class="service">
    <h3 class="service--title h3">Création de site internet</h3>
    <p class="service--p">
      Votre site internet est dépassé, vous créez votre activité ? Je peux
      prendre en charge la refonte de votre site ou sa création de A à Z.
    </p>
    <a
      class="service--link"
      href="{{ get_url(path='@/services/websites.md', lang=lang) }}"
      >Créons un site web…</a
    >
  </article>

  <article class="service">
    <h3 class="service--title h3">Audit/Conseil</h3>
    <p class="service--p">
      Je peux vous aider à diagonistiquer votre outil web, ou vous orienter vers
      les meilleurs solutions.
    </p>
    <a
      class="service--link"
      href="{{ get_url(path='@/services/audit.md', lang=lang) }}"
      >Demander un conseil</a
    >
  </article>
</section>

<section class="section references">
  <h2 class="section__title h2">Quelques références</h2>
  <p class="references__p">
    C'est pas pour me vanter mais... j'ai travaillé pour eux :
  </p>
  <div class="references__container">
    <img
      class="references__ref"
      src="{{ get_url(path='img/customers/institut_curie.webp') }}"
      title="Institut Curie"
      alt="Institut Curie"
    />
    <img
      class="references__ref"
      src="{{ get_url(path='img/customers/agirc_arrco.webp') }}"
      title="AGIRC ARRCO"
      alt="AGIRC ARRCO"
    />
    <img
      class="references__ref"
      src="{{ get_url(path='img/customers/afd.webp') }}"
      title="Alliance Française de Développement"
      alt="Alliance Française de Développement"
    />
    <img
      class="references__ref"
      src="{{ get_url(path='img/customers/cgi.webp') }}"
      title="CGI"
      alt="CGI"
    />
    <img
      class="references__ref"
      src="{{ get_url(path='img/customers/fidh.webp') }}"
      title="Fédération Internationale pour les Droits Humains"
      alt="Fédération Internationale pour les Droits Humains"
    />
    <img
      class="references__ref"
      src="{{ get_url(path='img/customers/eurosport.webp') }}"
      title="Eurosport"
      alt="Eurosport"
    />
    <img
      class="references__ref"
      src="{{ get_url(path='img/customers/ecofolio.webp') }}"
      title="Ecofolio"
      alt="Ecofolio"
    />
    <img
      class="references__ref"
      src="{{ get_url(path='img/customers/mgen.webp') }}"
      title="MGEN"
      alt="MGEN"
    />
    <img
      class="references__ref"
      src="{{ get_url(path='img/customers/fnam.webp') }}"
      title="Fédération Nationale André Maginot"
      alt="Fédération Nationale André Maginot"
    />
    <img
      class="references__ref"
      src="{{ get_url(path='img/customers/musee_curie.webp') }}"
      title="Musée Curie"
      alt="Musée Curie"
    />
    <img
      class="references__ref"
      src="{{ get_url(path='img/customers/ratp.webp') }}"
      title="RATP"
      alt="RATP"
    />
  </div>
</section>

{{ section.content | safe }} {% endblock content %}

<main class="main-page">
  <article class="main-page__head">
    {{ get_img(path='img/gil_about.webp', alt="Gino Ladowitch", cls="side-img")
    }}

    <h2>Je suis un grand timide...</h2>

    <p>
      Je n'aime pas trop parler de moi, mais bon… Si on doit travailler
      ensemble, il faudra bien faire connaissance !
    </p>
    <p>Donc, une fois n'est pas coutume, je fais le premier pas.</p>
  </article>

  <article class="main-page__article">
    <h2>Petite biographie</h2>
    <p>
      Humain âgé de 38 ans et originaire de Toulouse, je suis ce que l’on peut
      appeler un geek : même si je n’ai eu mon premier ordinateur qu'en 2006,
      j’ai vite rattrapé mon retard.
    </p>
    <p>
      Armé d’un petit talent en dessin (que j’ai beaucoup perfectionné sur les
      bancs de l’école : dessiner est un très bon moyen de s’évader sans attirer
      l’attention), de deux ans de FAC de maths / informatique et de ma première
      bécane, j’ai suivi une petite formation en DAO/PAO.
    </p>
    <p>
      À partir de là j’ai pu commencer à travailler de manière sporadique dans
      le sud, mais c’est surtout depuis 2010, quand je suis arrivé à Paris, que
      j’ai pu travailler régulièrement avec une agence web.
    </p>
    <p>
      Commençant comme graphiste, j’ai rapidement fait du webdesign, et au
      contact de développeurs, j’ai moi-même commencé à regarder comment ça se
      passe dans le code… Et ça m’a plu !
    </p>
  </article>

  <article class="main-page__article">
    <h2>Statut</h2>
    <p>Aujourd’hui je cumule plusieurs statuts :</p>
    <ul>
      <li>
        La Maison des Artistes : c’est un régime très proche de celui des auto
        entrepreneurs (mais antérieur) réservé aux artistes auteurs,
        plasticiens, graphistes… Les charges sont légères, l’administratif léger
        (mais y en a toujours trop à mon goût). Mon numéro d’ordre est L987679
        et mon numéro SIREN 488 238 817.
      </li>
      <li>
        Être humain : l’argent n’est pas une fin en soi, aussi, si vous avez un
        projet éthique particulièrement emballant, ou simplement peu de moyens
        financiers mais de quoi donner le change, je suis favorable à l’échange
        de services et au paiement en nature. N’hésitez pas à me contacter pour
        en discuter.
      </li>
    </ul>
  </article>
</main>
